.navbar {
    margin-left: 230px;
    height: 60px;
    background-color: #111 !important;
    padding-left: 40px !important;
}

.navbar__icon {
    background-color: #000;
    color: #ccc;
    border-radius: 50%;
    margin-right: 20px;
    padding: 5px;
    font-size: 35px !important;
}

.profile__dropdown {
    background-color: #2e2e2e !important;
    border-radius: 60px !important;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.dropdown-menu {
    background-color: #222 !important;
    color: #fff !important;
}

.option {
    color: #fff !important;
    font-size: 14px !important;
}

.option:hover {
    background-color: #222 !important;
}

@media only screen and (max-width: 768px) {
    .navbar {
        margin-left: 0;
        display: none !important;
    }
}