.sidebar__playlist__container {
  padding-left: 20px;
  margin-top: 20px;
}

.playlist__row {
  margin-bottom: 13px;
  cursor: pointer;
}

.playlist__row__icon {
  margin-right: 16px;
  background-color: #ccc;
  padding: 5px;
  font-size: 35px !important;
  color: #000;
}

.playlist__title {
  font-family: "Spotify Bold";
  text-transform: uppercase;
  font-size: 13px;
  color: #999;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

.playlist__row__label {
  font-size: 15px;
  font-family: "Spotify Bold";
  color: #999;
}

.playlist__row__icon--favorite {
  margin-right: 16px;
  background: linear-gradient(135deg, #450af5, #c4efd9);
  font-size: 35px !important;
  padding: 5px;
}
