.sidebar__container {
  background-color: #000;
  width: 230px;
  max-width: 230px;
  color: #fff;
  position: fixed;
  height: 100%;
  padding: 0 10px 10px;
}

.install__app__div {
  font-family: "Spotify Bold";
  color: #999;
  font-size: 14px;
  position: absolute;
  bottom: 110px;
}

.install__app__icon {
  margin-right: 10px;
}

@media only screen and (max-width: 768px) {
  .sidebar__container {
    display: none;
  }
}
